* {
    margin: 0;
    color: white;
  }

  body {
    background: #2b2a2e;
}

h1 {
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 0.4em;
}

h2 { 
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    margin: 0.6em;
    margin-top: 0.8em;
    margin-bottom: 1em;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px; 
}

h3 { 
    font-size: 1.6em;
    font-family: "Montserrat", sans-serif;
    margin: 0.9em;
    margin-top: 1em;
    margin-bottom: 1em;  
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin: 1.5em;
}

.panorama {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 3px;
}

.ban-list img {
    max-width: 320px;
    max-height: 180px;
    margin-left: 40px;
}

.recommended-list img {
    max-width: 320px;
    max-height: 180px;
    margin-left: 40px;
}

.ban-list, .recommended-list {
    display: flex;
}

.ban-list figcaption {
    text-align: center;
}

.recommended-list figcaption {
    text-align: center;
    margin-bottom: 100px;
}

figcaption {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    margin-top: 3px;
}

p.bottom-page {
    margin-bottom: 80px;
}

@media screen and (max-width: 1200px) {

    .ban-list,
    .recommended-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ban-list img,
    .recommended-list img {
        margin: 10px;
        
    }

    .ban-list figcaption, 
    .recommended-list figcaption {
        text-align: center;
        margin-bottom: 20px;
    }

    .recommended-list {
        margin-bottom: 30px;
    }

    .panorama {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}